header {
    border-bottom: 1px solid rgb(230, 96, 23);
    padding: 10px;
}

h1 {
    font-weight: lighter;
    letter-spacing: 2.5px;
    word-spacing: 10px;
}

.mainBody {
    margin: 30px 10% 0 10%;
}

.textBlock {
    border: 1px solid rgb(230, 96, 23);
    padding: 20px;
    margin-top: 60px;
}

.descriptors {
    border-radius: 80%; 
}

.projectsContainer {
    background-color: rgba(230, 95, 23, 0.2);
    padding: 40px 20px;
    border-radius: 10px;
    margin-top: 60px;
}

.project {
    padding: 20px;
    border: 1px solid rgb(230, 96, 23);
    margin: 10px 0;
    border-radius: 10px;
}

.project:hover {
    background-color: rgb(230, 96, 23);
    cursor: pointer;
    transition: 300ms;
}

a {
    color:rgb(254, 164, 154);
    text-decoration: none;
}

.bio {
    border-radius: 90px 0;
    padding-left: 40px;
    padding-right: 40px;
}

.contactMeContainer {
    padding: 30px;
    margin-top: 10px;
}

.profile {
    display: inline;
    margin-inline: 4%;
}

img {
    width: 30px;
}

img:hover {
    transform: scale(1.3);
    transition: 200ms;
}

footer {
    border-top: 1px solid rgb(230, 96, 23);
    color: rgb(254, 164, 154);
    padding: 30px;
}