body {
  margin: 0;
  background-image: radial-gradient(closest-side, rgb(252, 101, 46) 10%, rgb(254, 164, 154) 35%, rgb(255, 145, 0) 85%, rgb(255, 204, 0) 100%);
  background-attachment: fixed;
  background-size: 100vw 100vw;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(230, 96, 23);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
